Flow2
[{"id":"fe206f61.23cd3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bd59307.12483d","type":"inject","z":"fe206f61.23cd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":38,"wires":[["cefcfb33.00aa28"]]},{"id":"cefcfb33.00aa28","type":"function","z":"fe206f61.23cd3","name":"Payload","func":"msg.headers={\n    deviceKey: \"ah1i21FkHE0FpaqN\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":96,"y":209,"wires":[["dcb1d1d6.9a152","619bac4.a8b9a54"]]},{"id":"dcb1d1d6.9a152","type":"http request","z":"fe206f61.23cd3","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D05Ee4ns/datachannels/Temperature/datapoints.csv","tls":"","x":303.5,"y":107,"wires":[["1cb6938a.e423fc","a1eac236.a40a4"]]},{"id":"619bac4.a8b9a54","type":"http request","z":"fe206f61.23cd3","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D05Ee4ns/datachannels/Humidity/datapoints.csv","tls":"","x":278,"y":282,"wires":[["1cb6938a.e423fc","a1eac236.a40a4"]]},{"id":"1cb6938a.e423fc","type":"http response","z":"fe206f61.23cd3","name":"","statusCode":"","headers":{},"x":514.5,"y":326,"wires":[]},{"id":"a1eac236.a40a4","type":"debug","z":"fe206f61.23cd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611,"y":77,"wires":[]}]