Flow3
[{"id":"9411eef0.b2fd","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7b0a2409.33430c","type":"inject","z":"9411eef0.b2fd","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":82,"y":38,"wires":[["d238674a.f983f8"]]},{"id":"d238674a.f983f8","type":"function","z":"9411eef0.b2fd","name":"Payload","func":"msg.headers={\n    deviceKey: \"ah1i21FkHE0FpaqN\"\n};\nmsg.payload= \"Temperature,,25.3\";\nmsg.payload= \"Humidity,,50\";\nreturn msg;","outputs":1,"noerr":0,"x":106,"y":156,"wires":[["80570c57.2ce8e"]]},{"id":"bd0b756c.a65158","type":"http response","z":"9411eef0.b2fd","name":"","statusCode":"","headers":{},"x":511.5,"y":264,"wires":[]},{"id":"e01287af.572328","type":"debug","z":"9411eef0.b2fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":487,"y":352,"wires":[]},{"id":"80570c57.2ce8e","type":"http request","z":"9411eef0.b2fd","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/D05Ee4ns/datapoints.csv","tls":"","x":321.5,"y":172,"wires":[["bd0b756c.a65158","e01287af.572328"]]}]