Flow1
[{"id":"ba58e718.0ed898","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bd1105b1.34e168","type":"rpi-gpio out","z":"ba58e718.0ed898","name":"Greem LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":752,"y":256,"wires":[]},{"id":"eaf33055.cafa2","type":"debug","z":"ba58e718.0ed898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":691,"y":103,"wires":[]},{"id":"218e4d9d.cb2682","type":"rpi-gpio in","z":"ba58e718.0ed898","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":80,"y":301,"wires":[["2fee7678.a5cd7a"]]},{"id":"2fee7678.a5cd7a","type":"switch","z":"ba58e718.0ed898","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":239.5,"y":334,"wires":[["ffd25a1d.8e2de8"],["133cadd9.31d892"]]},{"id":"ffd25a1d.8e2de8","type":"change","z":"ba58e718.0ed898","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":325.5,"y":166,"wires":[["bd1105b1.34e168","eaf33055.cafa2"]]},{"id":"133cadd9.31d892","type":"change","z":"ba58e718.0ed898","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":415.5,"y":384,"wires":[["bd1105b1.34e168","eaf33055.cafa2"]]}]