Flow4
[{"id":"a3edc19e.556df","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"5b9a0c39.4ee254","type":"http in","z":"a3edc19e.556df","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":85.5,"y":153,"wires":[["ceedf4a1.5e8e78"]]},{"id":"e6939031.d0ebe","type":"http response","z":"a3edc19e.556df","name":"","statusCode":"","headers":{},"x":433,"y":168,"wires":[]},{"id":"8ea1a8e0.47bff8","type":"debug","z":"a3edc19e.556df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":447,"y":221,"wires":[]},{"id":"516c1969.a29588","type":"rpi-gpio in","z":"a3edc19e.556df","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":69,"y":291,"wires":[["c4e1e141.ac84f"]]},{"id":"c4e1e141.ac84f","type":"function","z":"a3edc19e.556df","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":226,"y":277,"wires":[["8ea1a8e0.47bff8"]]},{"id":"ceedf4a1.5e8e78","type":"function","z":"a3edc19e.556df","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":163,"wires":[["e6939031.d0ebe","8ea1a8e0.47bff8"]]}]